a {
  font-family: "Martel", serif;
  color: #485B73;
  font-size: 1rem;
  -webkit-transition: all 0.18s ease-out;
  -moz-transition: all 0.18s ease-out;
  -o-transition: all 0.18s ease-out;
  transition: all 0.18s ease-out; }
  a:hover {
    color: #485B73;
    opacity: 0.5; }

.btn {
  padding: 0.5rem 1rem;
  border: 1px solid #F5F5F5;
  background: #FFFFFF;
  border-radius: 3px;
  text-decoration: none;
  color: #333333;
  font-size: 1rem;
  -webkit-transition: color 0.18s ease-out, background-color 0.18s ease-out;
  -moz-transition: color 0.18s ease-out, background-color 0.18s ease-out;
  -o-transition: color 0.18s ease-out, background-color 0.18s ease-out;
  transition: color 0.18s ease-out, background-color 0.18s ease-out; }
  .btn:hover, .btn:focus {
    color: #333333;
    background: #F5F5F5;
    outline: 0; }
  .btn:active {
    color: #333333;
    background: #CCCCCC; }

.highlight {
  color: #FFFFFF;
  background: #1ACC58;
  border: 0; }
  .highlight:hover, .highlight:focus {
    color: #FFFFFF;
    background: #b3d2a5;
    outline: 0; }
  .highlight:active {
    color: #FFFFFF;
    background: #74a467; }

.caution {
  color: #FFFFFF;
  background: #D44C57;
  border: 0; }
  .caution:hover, .caution:focus {
    color: #FFFFFF;
    background: #DC7580;
    outline: 0; }
  .caution:active {
    color: #FFFFFF;
    background: #cd444d; }

.big {
  padding: 0.75002rem 1rem;
  display: flex; }
  .big i {
    padding: 0 0.5rem 0 0; }

.ico-btn {
  width: 2rem;
  height: 2rem;
  padding: 0;
  background: #FFFFFF;
  border-radius: 20px;
  border: 0;
  color: #777777; }
  .ico-btn:hover, .ico-btn:focus {
    background: #EFEFEF;
    outline: 0; }
  .ico-btn i {
    margin-top: 4px; }

.add-btn {
  border: none;
  background: none;
  color: #74a5d8;
  font-size: 0.85714rem;
  line-height: 1px;
  display: flex;
  align-items: center; }
  .add-btn i {
    padding: 0 0.5rem 0 0; }
  .add-btn:hover, .add-btn:focus {
    color: #9DBADE;
    background: none;
    outline: 0; }
  .add-btn:active {
    color: #518ece;
    background: none; }

.disabled {
  opacity: 0.5;
  pointer-events: none; }

.form-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 1rem; }
  .form-wrapper label {
    width: 20%;
    display: block;
    float: left;
    text-align: right;
    padding: 0 0.5rem;
    font-size: 0.75rem;
    color: #565656; }
  .form-wrapper input, .form-wrapper textarea, .form-wrapper select {
    width: 70%;
    display: block;
    padding: 0.5rem;
    background: #FFFFFF;
    font-size: 1rem;
    border: 1px solid #EFEFEF;
    border-radius: 3px;
    -webkit-transition: border-color 0.18s ease-out;
    -moz-transition: border-color 0.18s ease-out;
    -o-transition: border-color 0.18s ease-out;
    transition: border-color 0.18s ease-out; }
    .form-wrapper input:hover, .form-wrapper textarea:hover, .form-wrapper select:hover {
      border-color: #CCCCCC; }
    .form-wrapper input:focus, .form-wrapper textarea:focus, .form-wrapper select:focus {
      border-color: #323232;
      border-width: 1px;
      outline: none; }
  .form-wrapper select {
    background: transparent;
    -webkit-appearance: none;
    background: url(../assets/caret-down.svg) no-repeat 97% center; }

/*# sourceMappingURL=components.css.map */
