//$font-size: 16; // Your base font-size in pixels
//$em: $font-size*1em; // Shorthand for outputting ems, e.g. "12/$em"

$column: 70px; // The column-width of your grid in pixels
$gutter: 30px; // The gutter-width of your grid in pixels

$break-small: 320px;
$break-medium: 640px;
$break-mediumlarge: 960px;
$break-large: 1170px;

$transitionSpeed: 0.18s;
$transitionType: ease-out;

$vRhythm: 1rem;

$colorGreenLow: #74a467;
$colorGreen: #1ACC58;
$colorGreenLight: #b3d2a5;
$colorRedLow: #cd444d;
$colorRed: #D44C57;
$colorRedLight: #DC7580;
$colorYellowLow: #c3b615;
$colorYellow: #e3d851;
$colorYellowLight: #E8E18A;
$colorBlueLow: #518ece;
$colorBlue: #74a5d8;
$colorBlueLight: #9DBADE;

$colorTextDark: #333333;
$colorTextBlue: #485B73;
$colorTextGrey: #777777;
$colorTextLightGrey: #C1C1C1;

$colorDark: #121212;
$colorGreyDark: #323232;
$colorGrey: #565656;
$colorLightGrey: #CCCCCC;
$colorLighterGrey: #EFEFEF;
$colorTransparentGrey: #F5F5F5;
$colorAlmostWhite: #FAFAFA;
$colorWhite: #FFFFFF;
//-- colors:end --//

//-- typo:start --//
$Martel: 'Martel', serif;
$MartelSans: 'Martel Sans', sans-serif;
//-- typo:end --//



// Test basé sur :
// http://blog.cloudfour.com/responsive-guide-to-type-sizing/
//
// Modular Scale :
// http://www.modularscale.com/?1&em&1.125&sass&text

$baseRem: 1rem;
$baseLH: 1.5rem;

$basePt: 10.5pt;

$ratio: 1.125;
$ratioLH: 1.067;

$msSmall: 0.85714;
$ms0: 1;
$ms1: $ratio;
$ms2: $ratio*$ms1;
$ms3: $ratio*$ms2;
$ms4: $ratio*$ms3;
$ms5: $ratio*$ms4;
$ms6: $ratio*$ms5;
$ms7: $ratio*$ms6;
$ms8: $ratio*$ms7;
$ms9: $ratio*$ms8;
