@import 'variables';

a{
	font-family: $Martel;
	color: $colorTextBlue;

	font-size: $baseRem/$ms0;

	-webkit-transition: all $transitionSpeed ease-out;
	-moz-transition: all $transitionSpeed ease-out;
	-o-transition: all $transitionSpeed ease-out;
	transition: all $transitionSpeed ease-out;

	&:hover{
		color: $colorTextBlue;
		opacity: 0.5;
	}

	&:active{}
	&:focus{}
}

// Buttons

.btn{
	padding: $vRhythm/2 $vRhythm;
	border: 1px solid $colorTransparentGrey;
	background: $colorWhite;
	border-radius: 3px;
	text-decoration: none;
	color: $colorTextDark;
	font-size: $baseRem/$ms0;

	-webkit-transition: color $transitionSpeed ease-out, background-color $transitionSpeed ease-out;
	-moz-transition: color $transitionSpeed ease-out, background-color $transitionSpeed ease-out;
	-o-transition: color $transitionSpeed ease-out, background-color $transitionSpeed ease-out;
	transition: color $transitionSpeed ease-out, background-color $transitionSpeed ease-out;

	&:hover, &:focus{
		color: $colorTextDark;
		background: $colorTransparentGrey;
		outline: 0;
	}
	&:active{
		color: $colorTextDark;
		background: $colorLightGrey;

	}
}

.highlight{
	color: $colorWhite;
	background: $colorGreen;
	border: 0;

	&:hover, &:focus{
		color: $colorWhite;
		background: $colorGreenLight;
		outline: 0;
	}
	&:active{
		color: $colorWhite;
		background: $colorGreenLow;
	}
}

.caution{
	color: $colorWhite;
	background: $colorRed;
	border: 0;

	&:hover, &:focus{
		color: $colorWhite;
		background: $colorRedLight;
		outline: 0;
	}
	&:active{
		color: $colorWhite;
		background: $colorRedLow;
	}
}

.big{
	padding: $vRhythm/1.3333 $vRhythm;
	display: flex;

	i{
		padding: 0 $vRhythm/2 0 0;
	}
}

.ico-btn{
	width: $vRhythm*2;
	height: $vRhythm*2;
	padding: 0;
	background: $colorWhite;
	border-radius: 20px;
	border: 0;
	color: $colorTextGrey;
	//display: flex;
	//align-items: baseline;

	&:hover, &:focus{
		//color: $colorWhite;
		background: $colorLighterGrey;
		outline: 0;
	}
	&:active{

	}
	i{
		margin-top: 4px;
	}

}

.add-btn{
	border: none;
	background: none;
	color: $colorBlue;
	font-size: $baseRem*$msSmall;
	line-height: 1px;
	display: flex;
	align-items: center;

	i{
		padding: 0 $vRhythm/2 0 0;
	}


	&:hover, &:focus{
		color: $colorBlueLight;
		background: none;
		outline: 0;
	}
	&:active{
		color: $colorBlueLow;
		background: none;
	}
}

.disabled{
	opacity: 0.5;
	pointer-events: none;
}
// Forms

.form-wrapper{

	display: flex;
	align-items: center;
	margin-bottom: $vRhythm;

	label{
		width: 20%;
		display: block;
		float: left;
		text-align: right;

		padding: 0 $vRhythm/2;
		font-size: 0.75rem;
		color: $colorGrey;
	}

	input, textarea, select{
		width: 70%;
		display: block;
		padding: $vRhythm/2;
		background: $colorWhite;

		font-size: $baseRem/$ms0;

		border: 1px solid $colorLighterGrey;
		border-radius: 3px;

		-webkit-transition: border-color $transitionSpeed ease-out;
		-moz-transition: border-color $transitionSpeed ease-out;
		-o-transition: border-color $transitionSpeed ease-out;
		transition: border-color $transitionSpeed ease-out;

		&:hover{
			border-color: $colorLightGrey;
		}
		&:focus{
			border-color: $colorGreyDark;
			border-width: 1px;
			outline: none;
		}
	}

	select{
		background: transparent;
		-webkit-appearance: none;

		background: url(../assets/caret-down.svg) no-repeat 97% center;
	}


}

// Forms




// Misc
