@import 'variables';

@media screen and (min-width: $break-small) {
	p{ font-size: $baseRem; line-height: $baseRem*1.75;}
	h6{ font-size: $baseRem; line-height: $baseRem*1.5;}
	h5{ font-size: $baseRem; line-height: $baseRem*1.5; }
	h4{ font-size: $baseRem; line-height: $baseRem*1.5; }
	h3{ font-size: $baseRem; line-height: $baseRem*1.5; }
	h2{ font-size: $baseRem*1.75; line-height: $baseRem*2.5; }
	h1{ font-size: $baseRem*2.25; line-height: $baseRem*2.5; }
	blockquote{ font-size: $baseRem*1.5; line-height: $baseRem*2.5; }
}
@media screen and (min-width: $break-medium) {
	p{ font-size: $baseRem; line-height: $baseRem*1.75;}
	h6{ font-size: $baseRem; line-height: $baseRem*1.5;}
	h5{ font-size: $baseRem; line-height: $baseRem*1.5; }
	h4{ font-size: $baseRem; line-height: $baseRem*1.5; }
	h3{ font-size: $baseRem; line-height: $baseRem*1.5; }
	h2{ font-size: $baseRem*1.75; line-height: $baseRem*2.5; }
	h1{ font-size: $baseRem*2.25; line-height: $baseRem*2.5; }
	blockquote{ font-size: $baseRem*1.5; line-height: $baseRem*2.5; }
}

@media screen and (min-width: $break-large) {
	p{ font-size: $baseRem; line-height: $baseRem*1.75;}
	h6{ font-size: $baseRem; line-height: $baseRem*1.5;}
	h5{ font-size: $baseRem; line-height: $baseRem*1.5; }
	h4{ font-size: $baseRem; line-height: $baseRem*1.5; }
	h3{ font-size: $baseRem; line-height: $baseRem*1.5; }
	h2{ font-size: $baseRem*1.75; line-height: $baseRem*2.5; }
	h1{ font-size: $baseRem*3; line-height: $baseRem*3.5; }
	blockquote{ font-size: $baseRem*1.5; line-height: $baseRem*2.5; }
}

p.small{ font-size: $baseRem*0.75; line-height: $baseRem*1.5;}

p, h6, h5, h4, h3, h2, h1{
	margin-top: 0;
	font-weight: normal;
}

p{
	font-family: $Martel;
	margin-bottom: $baseRem*1.5;
}
h6{
	font-family: $Martel;
	margin-bottom: 0;
}
h5{
	font-family: $Martel;
	margin-bottom: 0;
}
h4{
	font-family: $Martel;
	text-transform: uppercase;
	margin-bottom: 0;
}
h3{
	font-family: $MartelSans;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-bottom: $baseRem*2;
	padding-top: $baseRem/2;
}
h2{
	font-family: $MartelSans;
	font-weight: 200;
	margin-bottom: $baseRem*4;
	padding-top: $baseRem/1.5;
}
h1{
	font-family: $MartelSans;
	font-weight: 200;
	margin-bottom: $baseRem*0.666667;
}

ul, ol{
	margin-top: 0;
	margin-bottom: $baseRem*1.5;
	padding-left: 0;

	li{
		line-height: $baseRem*1.5;
	}
}

.footnotes{
	ul, ol{
		margin-top: 0;
		margin-bottom: $baseRem*1.5;
		padding-left: 0;
		page-break-inside: avoid; /* pas de coupure dans ces élements */

		li{
			font-size: $baseRem/1.2;
			line-height: $baseRem*1.5;

			p{
				font-size: $baseRem/1.2;
				line-height: $baseRem*1.5;
				margin-bottom: $baseRem/1.666667;
			}
		}
	}
}

hr{
	width: 100%;
	margin-top: $baseRem*2;
	margin-bottom: $baseRem*2;
	border: 0;
	//color: inherit;
}
hr::after{
	display: inline-block;
	content: '•••';
	opacity: 0.5;
	width: 100%;
	letter-spacing: 1em;
	text-align: center;
}

blockquote{
	// line-height: $baseRem*1.5;
	margin: $baseRem;

	p{
		font-family: $Martel;
	}
}

pre{

	padding: $baseRem $baseRem*1.333333;
	background-color: rgba(0,0,0,0.03);

	code{
		font-size: $baseRem;
		line-height: $baseRem*1.5;
	}
}
table{
	margin-top: $baseRem;
	margin-bottom: $baseRem*2;
	line-height: $baseRem*1.5;
  border-collapse: collapse;

	thead{
		// border-top: 1px solid #000;

		tr{
			th{
				border-top: 1px solid rgba(0,0,0, 0.3);
				vertical-align: top;
				padding: $baseRem $baseRem*2 $baseRem 0;
				font-family: $Martel;
				font-weight: normal;
			}
		}
	}
	tbody{
		tr{
			td{
				border-top: 1px solid rgba(0,0,0, 0.05);
				vertical-align: top;
				padding: $baseRem $baseRem*2 $baseRem 0;
			}
		}
	}
}
img{
	margin-bottom: $baseRem/2;
}
.figure{
	p{
		font-size: $baseRem/1.2;
		line-height: $baseRem*1.5;
		margin-bottom: $baseRem*2.4;
	}
}

sup{
	line-height: 0;
}

// CSS Rules for print

@media print {
	body{
		background-color: #fff!important;
	}
	p{
		font-size: $basePt;
		line-height: $basePt*1.5;
		margin-bottom: $basePt*1.5;
		margin-bottom: 0;
		text-indent: $basePt;
		orphans: 3; /* pas de ligne seule en bas */
    widows: 3; /* pas de ligne seule en haut */
	}
	h6{
		font-size: $basePt;
		line-height: $basePt*1.5;
		margin-top: $basePt*1.5;
		margin-bottom: 0;
		page-break-after: avoid; /* pas de saut après ces éléments */
	}
	h5{
		font-size: $basePt;
		line-height: $basePt*1.5;
		margin-top: $basePt*1.5;
		margin-bottom: 0;
		page-break-after: avoid; /* pas de saut après ces éléments */
	}
	h4{
		font-size: $basePt;
		line-height: $basePt*1.5;
		margin-top: $basePt*1.5;
		margin-bottom: 0;
		page-break-after: avoid; /* pas de saut après ces éléments */
	}
	h3{
		font-size: $basePt;
		line-height: $basePt*1.5;
		margin-top: $basePt*1.5;
		margin-bottom: $basePt;
		padding-top: $basePt/2;
		page-break-after: avoid; /* pas de saut après ces éléments */
	}
	h2{
		font-size: $basePt*1.5;
		line-height: $basePt*2;
		margin-top: $basePt*1.5;
		margin-bottom: $basePt;
		padding-top: $basePt/2;
		page-break-after: avoid; /* pas de saut après ces éléments */
	}
	h1{
		font-size: $basePt*2.25;
		line-height: $basePt*3;
		margin-top: $basePt*1.5;
		margin-bottom: $basePt*1.5;
		//page-break-before: always; /* chaque titre commence sur une nouvelle page */
		page-break-after: avoid; /* pas de saut après ces éléments */
	}
	ul, ol{
		margin-top: 0;
		margin-bottom: $basePt*1.5;
		padding-left: 0;
		page-break-inside: avoid; /* pas de coupure dans ces élements */

		li{
			font-size: $basePt;
			line-height: $basePt*1.5;
		}
	}
	.footnotes{
		ul, ol{
			margin-top: 0;
			margin-bottom: $basePt*1.5;
			padding-left: 0;
			page-break-inside: avoid; /* pas de coupure dans ces élements */

			li{
				font-size: $basePt/1.1;
				line-height: $basePt*1.5;

				p{
					font-size: $basePt/1.1;
					line-height: $basePt*1.5;
					margin-bottom: $basePt/1.333333;
				}
			}
		}
	}
	a{
		color: $colorTextDark;
		text-decoration: underline!important;
	}
	a[href]:after {
	  content: " (" attr(href) ")"; /* affichage des URL des liens */
	}
	a[href].footnoteRef:after {
	  content: ""; /* affichage des URL des liens */
	}
	.footnotes a{
		display: none;
	}

	hr{
		width: 100%;
		margin-top: $basePt*2;
		margin-bottom: $basePt*2;
		border: 0;
		font-size: $basePt/1.333333;
		//color: inherit;
	}
	hr::after{
		display: inline-block;
		content: '•••';
		opacity: 0.5;
		width: 100%;
		letter-spacing: 1em;
		text-align: center;
	}

	blockquote{
		line-height: $basePt*1.5;
		margin: $basePt;
		border: 0;

		p{
			font-family: $Martel;
		}
	}

	pre{
		padding: $basePt $basePt*1.333333;
		//background-color: rgba(0,0,0,0.03);
		border: 0;
		page-break-inside: avoid; /* pas de coupure dans ces élements */
		//display: inline;

		code{
			font-size: $basePt;
			line-height: $basePt*1.5;
			display: inline-block; // Solve vetical rhythm break (result was higher than defined line-height above)
			white-space: pre;
		}
	}
	table{
		margin-top: $basePt;
		margin-bottom: $basePt*2;
		font-size: $basePt;
		page-break-inside: avoid; /* pas de coupure dans ces élements */

		thead{
			// border-top: 1px solid #000;

			tr{
				th{
					border-top: 1px solid rgba(0,0,0, 0.3);
					vertical-align: top;
					padding: $basePt/1.5 $basePt*2 $basePt/1.5 0;
					font-family: $Martel;
					font-weight: normal;
				}
			}
		}
		tbody{
			tr{
				td{
					border-top: 1px solid rgba(0,0,0, 0.05);
					vertical-align: top;
					padding: $basePt/1.5 $basePt*2 $basePt/1.5 0;
				}
			}
		}
	}

	img{
		margin-bottom: $basePt/2;
	}
	.figure{
		p{
			font-size: $basePt/1.2;
			line-height: $basePt*1.8;
			margin-bottom: $basePt*2.4;
			text-indent: 0;
		}
	}

	sup{
		line-height: 0;
	}

	@page { margin: $basePt*6 $basePt*9 $basePt*7 $basePt*9; }
  body { margin: 1.6cm; }
}
